@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --font: 'Bai Jamjuree', sans-serif;
}

body {
    font-size: 18px;
    font-family: var(--font);
}
header {
    background: url(images/bg-header-mobile.png);
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    padding: 0 50px;
    color: var(--dark-grayish-blue);
    margin-bottom: 25px;
}