@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dk-gy-blue: hsl(210, 10%, 33%);
    --gy-blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    /*background: #E3E5E7;*/
}

/*===header styles start ===*/
header {
    background: url(images/bg-header-mobile.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    /*display: flex;
    justify-content: center;*/
    
}
header img {
    display: block;
    width: 70px;
    padding: 70px 0;
    margin: 0 auto;
}
/*===header styles end ===*/

/*===section-one styles start===*/
.section-one {
    /*background-color: red;*/
    text-align: center;
    margin: 0 0 75px;
}
.section-one h1 {
    padding: 0 10px;
    margin-bottom: 25px;
    color: var(--dk-gy-blue);
}
.section-one p {
    margin: 0 15px 50px;
    color: var(--gy-blue);
}
.section-one-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section-one-buttons button,
.section-seven button {
    width: 80%;
    padding: 20px 0;
    font-size: 18px;
    margin: 0 auto;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
}
.section-one-buttons button:first-of-type,
.section-seven button:first-of-type {
    background: var(--strong-cyan);
    margin-bottom: 20px;
}
.section-one-buttons button:nth-of-type(2),
.section-seven button:nth-of-type(2) {
    background: var(--light-blue);
}
button:hover {
    opacity: 0.65;
}
/*===section-one styles end===*/

/*===section-two styles start===*/
.section-two {
    text-align: center;
    margin-bottom: 70px;
    /*background: red;*/
}
.section-two h2 {
    margin: 0 50px 20px;
    color: var(--dk-gy-blue);
}
.section-two p {
    margin: 0 20px;
    color: var(--gy-blue);
}
/*===section-two styles end===*/

/*===section-three styles start===*/
.section-three {
    max-width: 100%;
    text-align: center;
}
.section-three img {
    width: 80%;
    display: block;
    margin: 0 auto 70px;

}
.section-three-text-div h3 {
    margin-bottom: 15px;
    color: var(--dk-gy-blue);
}
.section-three-text-div p {
    margin: 0 20px 50px;
    color: var(--gy-blue);
}
.section-three-text-div p:last-of-type {
    margin-bottom: 150px;
}
/*===section-three styles end===*/

/*===section-four styles start===*/
.section-four {
    height: 100vh;
    max-width: 100%;
    text-align: center;
}
.section-four h2 {
    margin: 0 50px 30px;
    color: var(--dk-gy-blue);
    /*text-transform: capitalize;*/
}
.section-four img {
    width: 90%;
    display: block;
    margin: 70px auto 100px;
}
.section-four h1 {
    margin: 0 50px 15px;
}
.section-four p {
    margin: 0 15px;
    color: var(--gy-blue);
}
/*===section-four styles end===*/

/*===section-five styles start===*/
.section-five {
    /*height: 100vh;*/
    text-align: center;
}
.section-five img {
    margin-bottom: 50px;
}
.section-five h2 {
    margin-bottom: 25px;
    color: var(--dk-gy-blue);
}
.section-five p {
    margin: 0 10px 50px;
    color: var(--gy-blue);
}
/*===section-five styles end===*/

/*===section-six styles start===*/
.section-six {
    margin: 200px 0;
}
.section-six img {
    display: block;
    margin: 0 auto 50px;
}
/*===section-six styles end===*/

/*===section-seven styles start===*/
.section-seven {
    margin-bottom: 150px;
    text-align: center;
}
.section-seven h1 {
    margin: 0 50px 20px;
    color: var(--dk-gy-blue);
}
.section-seven p {
    margin: 0 15px 25px;
    color: var(--gy-blue);
}
/*===section-seven styles end===*/

/*footer styles start*/
footer {
    background: #F5F6F8;
}
.section-eight img {
    display: block;
    width: 50px;
    padding: 50px 0;
    margin: 0 auto;
}
.links {
    text-align: center;
}
.links a {
    display: block;
    text-decoration: none;
    color: var(--dk-gy-blue);
    margin-bottom: 25px;
}
.links a:hover {
    color: var(--strong-cyan);
}
.section-nine {
    display: none;
}
.socials {
    margin: 50px 0;
    color: var(--dk-gy-blue);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.socials:hover {
    color: var(--strong-cyan);
}*/
.fa-brands {
    margin-right: 20px;
}
.fa-brands:hover {
    color: var(--strong-cyan);
}
@media screen and (min-width: 768px) and (max-width: 900px){
    header,
    .section-four {
        height: auto;
    }
    .section-five {
        margin-top: 75px;
    }
}

@media screen and (min-width: 1080px){
    /*body {
        font-size: 20px;
    }*/
    header {
        background: url(images/bg-header-desktop.png) no-repeat;
        background-size: cover;
    }
    .section-one-buttons {
        flex-direction: row;
    }
    .section-one-buttons button,
    .section-seven button {
        width: 25%;
        margin: 0 10px;
    }
    .section-one-buttons button:first-of-type,
    .section-seven button:first-of-type {
        margin-bottom: 0;
    }
    .section-three {
        display: flex;
        align-items: center;
        margin-left: -75px;
    }
    .section-three-text-div {
        text-align: justify;
        margin: 0 70px;
    }
    .section-one p {
        margin-left: 300px;
        margin-right: 300px;
    }
    .section-two p,
    .section-four p:first-of-type {
        margin-left: 270px;
        margin-right: 270px;
    }
    .section-three-text-div p {
        margin: 0 0 50px;
    }
    .section-four {
        height: 100vh;
        margin-bottom: 450px;
    }
    .section-four img {
        margin-bottom: 0;
    }
    .section-five {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 25px;
        margin-right: 25px;
    }
    .section-five p {
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-seven p {
        margin: 0 270px 70px;

    }
    .section-six {
        display: flex;
    }
    .section-eight {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .links a {
        margin-right: 50px;
        margin-bottom: 0;
    }
}